{
  "mcpServers": {
		"wix-local-mcp": {
		  "command": "npx",
		  "args": [
		    "-y",
		    "@wix/mcp"
		  ]
		},
		"wix-design-system-mcp": {
		  "command": "design-system-mcp",
		  "args": []
		},
    "figma": {
      "command": "npx",
      "args": [
        "-y",
        "figma-developer-mcp",
        "--figma-api-key={{ (keepassxcAttribute "figma-api" "Password") }}",
        "--stdio"
      ]
    },
    "business-schema": {
      "command": "npx",
      "args": [
        "@wix/business-schema-mcp"
      ]
    },
    "fire-console": {
      "command": "/opt/homebrew/bin/node",
      "args": [
        "/Users/alexgr/dev/fc-mcp/src/server.js"
      ],
      "cwd": "/Users/alexgr/dev/fc-mcp"
    }
  }
}
