tap "homebrew/cask"
tap "homebrew/core"

tap "eth-p/software"
brew "eth-p/software/bat-extras"

{{ if eq .chezmoi.os "darwin" }}
tap "cormacrelf/tap"
brew "cormacrelf/tap/dark-notify"
tap "daipeihust/tap"
brew "daipeihust/tap/im-select"
tap "nikitabobko/tap"
brew "nikitabobko/tap/aerospace"
tap "FelixKratz/formulae"
brew "sketchybar"
brew "svim"
brew "borders"
brew "trash"
brew "reattach-to-user-namespace"

cask "wezterm"
cask "keepassxc"
cask "vlc"
cask "telegram-desktop"
cask "raycast"
cask "karabiner-elements"
cask "font-hack-nerd-font"
cask "font-jetbrains-mono"
{{ end }}

tap "homebrew/bundle" # brew infra
tap "homebrew/cask-fonts"
tap "homebrew/services"

tap "morantron/tmux-fingers"
brew "morantron/tmux-fingers/tmux-fingers"

tap "ms-jpq/sad"
brew "ms-jpq/sad/sad" # sed-like

tap "schniz/tap"
brew "fnm"

# libs
brew "libtiff" # font support libs
brew "freetype"
brew "harfbuzz"
brew "openexr" # image formats
brew "imlib2"
brew "webp"
brew "aom"
brew "netpbm" 
brew "exiftool"
brew "gd"
brew "gdk-pixbuf"
brew "libexif"
brew "gobject-introspection"
brew "jasper"
brew "libavif"
brew "librsvg"
brew "libvterm"
brew "libzip"
brew "bdw-gc" # garbage collector for C and C++
brew "boost" # C++ library
brew "jemalloc" # memory allocator
brew "nghttp2" # HTTP/2 C library
brew "ca-certificates"
brew "openssl@3"
brew "pcre2"
brew "sqlite"
brew "glib", link: false
brew "libxcb"
brew "libx11"
brew "clang-format"
brew "nettle"
brew "gnutls"
brew "python@3.9"
brew "libssh"
brew "lima" # VMs
brew "colima" # container manager
brew "qemu"
brew "coreutils"
brew "double-conversion" # convert to/from double-precision floating point
brew "fmt" # string formatting
brew "wangle" # networking library
brew "fb303" # query services

brew "ast-grep"

brew "atool" # archive tools
brew "bash"

# CLI utils
brew "bat" # cat with wings
brew "entr"
brew "watchman"
brew "zoxide"
brew "fd"
brew "fzf"
brew "gawk"
brew "figlet" # ascii art
brew "gnu-sed"
brew "htop"
brew "httpie"
brew "wget"
brew "httrack"
brew "spaceship" # prompt
brew "jandedobbeleer/oh-my-posh/oh-my-posh"
brew "tldr"
brew "xclip"

brew "chezmoi" # dotfile manager

brew "diff-so-fancy" # git diff
brew "git-delta"
brew "lazygit"
brew "difftastic"
brew "gh" # GitHub CLI

brew "docker"

brew "file-formula" # file type detection
brew "findutils" # GNU find, locate, updatedb, and xargs
brew "fribidi" # bidirectional text rendering

brew "glow" # markdown renderer
brew "pango"
brew "pandoc"

brew "graphviz" # graph visualization for project structure

brew "jless" # JSON pager
brew "jq" # JSON processor

brew "luajit" # Lua interpreter
brew "luarocks"
brew "luv"

brew "tree-sitter"
brew "neovim"
brew "node", link: false
brew "prettier"
brew "protobuf"

brew "pyenv"
brew "python@3.11"
brew "python@3.8"
brew "six"

brew "ripgrep"
brew "ruby"
brew "shfmt" # shell script formatter
brew "slides"

brew "task"
brew "taskwarrior-tui"

brew "tmux"
brew "tmuxp"

brew "w3m"

brew "zk" # zettelkasten
brew "yazi", args: ["HEAD"]
brew "eza"
brew "television"
