{
	"nativeMCPServers": [],
	"mcpServers": {
		"git": {
			"command": "git-mcp-server",
			"args": [],
			"env": {},
			"disabled": false,
			"autoApprove": []
		},
		"github": {
			"env": {
				"GITHUB_PERSONAL_ACCESS_TOKEN": "{{ (keepassxcAttribute "github cursor token" "Password") }}"
			},
			"args": [
				"run",
				"-i",
				"--rm",
				"-e",
				"GITHUB_PERSONAL_ACCESS_TOKEN",
				"mcp/github"
			],
			"command": "docker"
		},
		"figma": {
			"args": [
				"-y",
				"figma-developer-mcp",
				"--figma-api-key={{ (keepassxcAttribute "figma-api" "Password") }}",
				"--stdio"
			],
			"command": "npx"
		}
	}
}
