# fnm bindings
source $ZDOTDIR/fnm.zsh

# fzf bindings
source $ZDOTDIR/fzf.zsh

# key bindings
source $ZDOTDIR/zle.zsh

setopt HIST_SAVE_NO_DUPS        # Do not write a duplicate event to the history file.
setopt HIST_IGNORE_SPACE        # Do not record an event starting with a space.

autoload -U compinit; compinit  # Enable completion
_comp_options+=(globdots)       # With hidden files
# TODO: add https://github.com/Phantas0s/.dotfiles/blob/master/zsh/completion.zsh

# zoxide
eval "$(zoxide init zsh)"

# dir stack
setopt AUTO_PUSHD           # Push the current directory visited on the stack.
setopt PUSHD_IGNORE_DUPS    # Do not store duplicates in the stack.
setopt PUSHD_SILENT         # Do not print the directory stack after pushd or popd.

# auto cd
setopt AUTO_CD              # cd to a directory by typing its name

# vi mode
source $ZDOTDIR/vi-mode.zsh

# plugins
source $ZDOTDIR/plugins/git.zsh
source $ZDOTDIR/plugins/ai.zsh
source $ZDOTDIR/plugins/wezterm.zsh

# sg completions
eval "$(sg completions)"

# gpg
export GPG_TTY=$(tty)
# python env init
eval "$(pyenv init -)"

# OS specific
{{ if eq .chezmoi.os "darwin" }}
eval "$(oh-my-posh init zsh --config ~/.config/oh-my-posh/config.json)"
eval "$(/opt/homebrew/bin/brew shellenv)"
# haskell env init
[ -f "/Users/alexgr/.ghcup/env" ] && source "/Users/alexgr/.ghcup/env" # ghcup-env

# astra
source ~/.astra/astra.sh
export PATH="$(brew --prefix scala@2.12)/bin:$PATH"
export JAVA_OPTS_FROM_OUTSIDE='-Dfile.encoding=UTF-8'
export ASTRA_AZURE_HOST=https://ero.wewix.net/proxy/azure-ai/openai/deployments/
export ASTRA_OPENAI_API_KEY=UNDEFINED
export ELASTIC_HOST=http://127.0.0.1:9200

{{ else if eq .chezmoi.os "linux" }}
source $ZDOTDIR/spaceship/spaceship.zsh
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ end }}

# aliases -- keep this last
source $ZDOTDIR/zsh-alias.zsh
