<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.sketchybar.theme-detector</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/Users/alexgr/.config/sketchybar/helpers/auto_theme_detector_safe.sh</string>
        <string>monitor</string>
    </array>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <true/>
    
    <key>StandardOutPath</key>
    <string>/Users/alexgr/.config/sketchybar/theme_detector.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/alexgr/.config/sketchybar/theme_detector_error.log</string>
    
    <key>ProcessType</key>
    <string>Background</string>
    
    <key>ThrottleInterval</key>
    <integer>10</integer>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>HOME</key>
        <string>/Users/alexgr</string>
    </dict>
</dict>
</plist>
